<body>
    <div class="containerPaiementAdmin">
        <div class="contentPaiementAdmin">
            <app-logo></app-logo>
            
            <div class="imgEnTete">
                <img src="assets/imgPaiement.jpg" alt="Paiement">
            </div>

            <div class="titre">
                <p>Gestion des paiements</p>
            </div>

            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Informations</th>
                            <th>Abonnement</th>
                            <th>Statut du paiement</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jean Dupont</td>
                            <td>
                               Panier Simple 
                            </td>
                            <td>
                                <div class="statut">
                                    <img src="assets/sablier.png" alt="Rejeter"/>
                                    <p> En attente</p>
                                </div>
                            </td>
                            
                            <td>
                                <button class="btn-validate">
                                    <img src="assets/valider.png" alt="Valider"/>
                                    Valider
                                </button>
                               
                                <button class="btn-reject">
                                    <img src="assets/rejeter.png" alt="Rejeter"/>
                                    Rejeter
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Marie Curie</td>
                            <td>
                                Panier Simple 
                            </td>
                            <td>
                                <div class="statut">
                                    <img src="assets/sablier.png" alt="Rejeter"/>
                                    <p> En attente</p>
                                </div>
                            </td>
                            <td>
                                <button class="btn-validate">
                                    <img src="assets/valider.png" alt="Valider"/>
                                    Valider
                                </button>
                               
                                <button class="btn-reject">
                                    <img src="assets/rejeter.png" alt="Rejeter"/>
                                    Rejeter
                                </button>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>