<body>
    <div class="containerInscriptionAdmin">
        <div class="contentInscriptionAdmin">
            <app-logo></app-logo>
            
            <div class="imgEnTete">
                <img src="assets/imgInscriptionAdmin.jpg" alt="Accueil">
            </div>

            <div class="titre">
                <p>Gestion des inscriptions</p>
            </div>

            <div class="table-container">
                <table>
                  <thead>
                    <tr>
                      <th>Informations</th>
                      <th>Message</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let adherent of pendingAdherents">
                      <td>{{ adherent.name }} ({{ adherent.email }}) - Rôle : Adhérent</td>
                      <td>
                        <textarea class="message-input" placeholder="Écrire un message..."></textarea>
                      </td>
                      <td>
                        <button class="btn-validate" (click)="updateAdherentStatus(adherent.id, 'validated')">
                          <img src="assets/valider.png" alt="Valider" /> Valider
                        </button>
                        <button class="btn-reject" (click)="updateAdherentStatus(adherent.id, 'rejected')">
                          <img src="assets/rejeter.png" alt="Rejeter" /> Rejeter
                        </button>
                      </td>
                    </tr>
                    <tr *ngFor="let employee of pendingEmployees">
                      <td>{{ employee.name }} ({{ employee.email }}) - Rôle : Employé</td>
                      <td>
                        <textarea class="message-input" placeholder="Écrire un message..."></textarea>
                      </td>
                      <td>
                        <button class="btn-validate" (click)="updateEmployeeStatus(employee.id, 'validated')">
                          <img src="assets/valider.png" alt="Valider" /> Valider
                        </button>
                        <button class="btn-reject" (click)="updateEmployeeStatus(employee.id, 'rejected')">
                          <img src="assets/rejeter.png" alt="Rejeter" /> Rejeter
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>              
        </div>
    </div>
</body>