<body>
    <div class="containerInscriptionAdmin">
        <div class="contentInscriptionAdmin">
            <app-logo></app-logo>
            
            <div class="imgEnTete">
                <img src="assets/imgInscriptionAdmin.jpg" alt="Accueil">
            </div>

            <div class="titre">
                <p>Gestion des inscriptions</p>
            </div>

            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Informations</th>
                            <th>Message</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jean Dupont</td>
                            <td>
                                <textarea class="message-input" placeholder="Écrire un message..."></textarea>
                                <button class="btn-submit-message">Valider le message</button>
                            </td>
                            <td>
                                <button class="btn-validate">
                                    <img src="assets/valider.png" alt="Valider"/>
                                    Valider
                                </button>
                               
                                <button class="btn-reject">
                                    <img src="assets/rejeter.png" alt="Rejeter"/>
                                    Rejeter
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>Marie Curie</td>
                            <td>
                                <textarea class="message-input" placeholder="Écrire un message..."></textarea>
                                <button class="btn-submit-message">Valider le message</button>
                            </td>
                            <td>
                                <button class="btn-validate">
                                    <img src="assets/valider.png" alt="Valider"/>
                                    Valider
                                </button>
                               
                                <button class="btn-reject">
                                    <img src="assets/rejeter.png" alt="Rejeter"/>
                                    Rejeter
                                </button>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>