<div id="map-container">
  <div id="map"></div>
  <div id="route-instructions" class="route-instructions"></div>
</div>

<div class="legend-days-container">
  <div class="legend">
    <h3>Légende :</h3>
    <ul>
      <li>
        <img class="marker-icon" src="assets/marker-icon.png" alt="Icône de point de dépôt" />
        <span class="pointDepot">Points de dépôt</span>
      </li>
      <li><span class="legend-line"></span> Trajet</li>
    </ul>
  </div>

  <div class="days-container">
    <!-- Pour chaque jour, afficher les trajets associés -->
    <div class="day-container" 
         *ngFor="let day of days" 
         (mouseenter)="day.showOptions = true" 
         (mouseleave)="day.showOptions = true">
      <button class="day-button" [ngClass]="day.class">{{ day.label }}</button>
      <div class="sub-menu" *ngIf="day.showOptions">
        <button class="sub-menu-item" *ngFor="let trajet of day.trajets" (click)="showTrajet(trajet.type)">
          {{ trajet.type }}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="actions">
  <button (click)="openAddModal()">Ajouter un trajet</button>
</div>

<div class="trajet-list">
  <h3>Liste des trajets</h3>
  <div *ngFor="let trajet of trajets">
    <span>{{ trajet.type }} ({{ trajet.day }})</span>
    <button class="delete-button" (click)="deleteTrajet(trajet.id)">Supprimer</button>
  </div>
</div>

<div class="modal" [ngClass]="{ active: isModalOpen }">
  <div class="modal-content">
    <h3>Ajouter un Trajet</h3>
    <form (ngSubmit)="addTrajet()">
      <label for="day">Jour</label>
      <select id="day" [(ngModel)]="newTrajet.day" name="day" required>
        <option *ngFor="let day of days" [value]="day.label">{{ day.label }}</option>
      </select>

      <label for="type">Type</label>
      <input id="type" [(ngModel)]="newTrajet.type" name="type" placeholder="Nom du trajet" required />

      <label for="locations">Localisation</label>
      <div class="location" *ngFor="let loc of newTrajet.locations; let i = index">
        <input [(ngModel)]="loc.name" placeholder="Nom" name="locationName{{ i }}" required />
        <input [(ngModel)]="loc.address" placeholder="Adresse" name="locationAddress{{ i }}" required />
        <input [(ngModel)]="loc.coords[0]" placeholder="Latitude" type="number" name="locationLat{{ i }}" required />
        <input [(ngModel)]="loc.coords[1]" placeholder="Longitude" type="number" name="locationLng{{ i }}" required />
        <button type="button" class="delete-location-button" (click)="removeLocation(i)">Supprimer</button>
      </div>
      <button type="button" class="add-location-button" (click)="addLocation()">Ajouter une localisation</button>

      <button type="submit" class="submit-button">Ajouter</button>
      <button type="button" class="cancel-button" (click)="closeAddModal()">Annuler</button>
    </form>
  </div>
</div>
