<div id="map-container">
  <div id="map"></div>
  <div class="route-instructions"></div>
</div>

<div class="actions">
  <button (click)="openAddModal()">Ajouter un trajet</button>
</div>

<!-- Tableau pour afficher les trajets -->
<div class="trajets-container">
  <table class="trajets-table">
    <thead>
      <tr>
        <th>Jour</th>
        <th>Type de trajet</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Boucle pour afficher les trajets récupérés -->
      <tr *ngFor="let trajet of trajets">
        <td>{{ trajet.day }}</td>
        <td>{{ trajet.type }}</td>
        <td>
          <button class="view-button" (click)="showTrajet(trajet.type)">Voir le trajet</button>
          <button class="delete-button" (click)="deleteTrajet(trajet.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal" [ngClass]="{ active: isModalOpen }">
  <div class="modal-content">
    <h3>Ajouter un Trajet</h3>
    <form (ngSubmit)="addTrajet()">
      <label for="day">Jour</label>
      <select id="day" [(ngModel)]="newTrajet.day" name="day" required>
        <option *ngFor="let day of days" [value]="day.label">{{ day.label }}</option>
      </select>

      <label for="type">Type</label>
      <input id="type" [(ngModel)]="newTrajet.type" name="type" placeholder="Nom du trajet" required />

      <label for="locations">Localisation</label>
      <div class="location" *ngFor="let loc of newTrajet.locations; let i = index">
        <input [(ngModel)]="loc.name" placeholder="Nom" name="locationName{{ i }}" required />
        <input [(ngModel)]="loc.address" placeholder="Adresse" name="locationAddress{{ i }}" required />
        <input [(ngModel)]="loc.coords[0]" placeholder="Latitude" type="number" name="locationLat{{ i }}" required />
        <input [(ngModel)]="loc.coords[1]" placeholder="Longitude" type="number" name="locationLng{{ i }}" required />
        <button type="button" class="delete-location-button" (click)="removeLocation(i)">Supprimer</button>
      </div>
      <button type="button" class="add-location-button" (click)="addLocation()">Ajouter une localisation</button>

      <button type="submit" class="submit-button">Ajouter</button>
      <button type="button" class="cancel-button" (click)="closeAddModal()">Annuler</button>
    </form>
  </div>
</div>
