@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Love+Ya+Like+A+Sister&family=Lustria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Love+Ya+Like+A+Sister&family=Lusitana:wght@400;700&family=Lustria&display=swap');


.calendar-container {
    border: 2px solid #A1A1A1;
    padding: 2%;
    width: 100%;
    margin-left: 52vh;
    max-width: 55%;
    border-radius: 0.5%;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-family: 'Love Ya Like A Sister';
}

.month {
    margin-top: 3vw; 
    font-family: 'Lustria';
}

.ligne {
    margin-left: 0.5vh;
    margin-bottom: 2vw;
}


.calendar {
    display: grid;
    grid-template-columns: repeat(7, 0.2fr);
    text-align: center;
    gap: 5px;
}

.day-header {
    font-family: 'Lustria';
    font-weight: bold;
}

.day-header.monday {
    color: #74B50D;
}

.day-header.tuesday {
    color: #16D06A; /* Green */
}

.day-header.wednesday {
    color: #42ADCA; /* Light Blue */
}

.day-header.thursday {
    color: #004F88; /* Blue */
}

.day-header.friday {
    color: #A062F5; /* Purple */
}

.day-header.saturday {
    color: black;
}

.day-header.sunday {
    color: #5C8F36; /* Dark Green */
}

.ligne-separateur {
    border: none;
    height: 0.02vh;
    background-color: #A1A1A1;
    margin-bottom: 2vh;
    margin-top: 2vh;
    width: 100%;
}