<div class="calendar-container">
    <div class="calendar-header">
      <span>{{ year }}</span>
      <span class="month">{{ monthNames[month] }}</span>
    </div>


    <hr class="ligne-separateur">

    <div class="calendar">
        <div class="day-header monday">Lundi</div>
        <div class="day-header tuesday">Mardi</div>
        <div class="day-header wednesday">Mercredi</div>
        <div class="day-header thursday">Jeudi</div>
        <div class="day-header friday">Vendredi</div>
        <div class="day-header saturday">Samedi</div>
        <div class="day-header sunday">Dimanche</div>  
    </div>
</div>