<body>
    <div class="containerFaitsDivers">
        <div class="contentFaitsDivers">
            <app-logo></app-logo>

            <div class="imgEnTete">
                <img src="assets/fruits-de-saison.jpg" alt="Fruits de saison">
            </div>

            <div class="fruit">
                <div class="titre">
                    <p>Les fruits du mois</p>
                </div>
    
                <div class="explication">
                    <p>Chaque mois, les fruits de saison varient, apportant avec eux une palette de couleurs et de saveurs uniques. Que ce soit les baies juteuses de l’été, les pommes croquantes de l’automne ou les agrumes vitaminés de l’hiver, chaque période de l’année nous invite à savourer des fruits frais, cultivés en harmonie avec la nature. Ce renouvellement constant est une véritable célébration de la diversité et des bienfaits que nous offre la terre, transformant nos moments gourmands en une expérience riche et variée, au fil des saisons.</p>
                    <p>
                        Voici la liste des fruits que nous pouvons retrouver en octobre.
                    </p>
                </div>
    
                <div class="tableau">
                    <table>
                        <tr>
                            <td>Citron<img src="assets/legume_fruit/citron.jpg" alt="Citron"></td>
                            <td>Coing<img src="assets/legume_fruit/coings.jpg" alt="Coing"></td>
                            <td>Figue<img src="assets/legume_fruit/figue.png" alt="Figue"></td>
                        </tr>
                        <tr>
                            <td>Châtaigne<img src="assets/legume_fruit/chataigne.png" alt="Châtaigne"></td>
                            <td>Grenade<img src="assets/legume_fruit/grenade.jpg" alt="Grenade"></td>
                            <td>Kakis<img src="assets/legume_fruit/kaki.jpg" alt="Kakis"></td>
                        </tr>
                        <tr>
                            <td>Noisette<img src="assets/legume_fruit/noisette.png" alt="Noisette"></td>
                            <td>Noix<img src="assets/legume_fruit/noix.png" alt="Noix"></td>
                            <td>Orange<img src="assets/legume_fruit/orange.png" alt="Orange"></td>
                        </tr>
                        <tr>
                            <td>Pomme<img src="assets/legume_fruit/pomme.png" alt="Pomme"></td>
                            <td>Poire<img src="assets/legume_fruit/poire.png" alt="Poire"></td>
                            <td>Pruneau<img src="assets/legume_fruit/pruneau.jpg" alt="Pruneau"></td>
                        </tr>
                    </table>                                  
                </div>
            </div>
        </div>
    </div>
</body>


