<body>
    <div class="containerDepots">
        <app-sidebar></app-sidebar>

        <div class="contentDepots">
            <app-logo></app-logo>

            <div class="imgEnTete">
                <img src="assets/depots.jpg" alt="Accueil">
            </div>

                <div class="titre">
                    <p>Les dépôts</p>
                </div>

                <div class="titre2">
                    <p>Où se trouvent-ils ?</p>
                </div>

                <div class="presentationdepots">
                    <p>
                        Des points de dépôt sont répartis dans toute la région des Vosges pour vous permettre de récupérer votre ou vos paniers en toute sécurité. 
                        Des armoires sécurisées ont été mises en place près de magasins tels que Pro&Cie ou Point Vert. 
                        Voici les villes où vous pouvez retrouver ces dépôts :
                    </p>
                    <ul>
                        <li>Charmes</li>
                        <li>Thaon-les-Vosges</li>
                        <li>Golbey</li>
                        <li>Épinal</li>
                        <li>Bruyères</li>
                        <li>Dinozé</li>
                        <li>Docelles</li>
                        <li>Le Tholy</li>
                        <li>Gérardmer</li>
                        <li>Remiremont</li>
                        <li>Saint-Nabord</li>
                        <li>Raon-aux-Bois</li>
                    </ul>
                </div>
                
                <div class="text1">
                    <p>
                        Vous pouvez retrouver toutes les adresses des points de dépôt dans ce 
                        <a href="./assets/fichierdepot.png" target="_blank" style="color: #5C8F36; text-decoration: underline;">fichier</a>, 
                        ainsi que leur numéro.
                    </p>
                </div>
                
                <div class="text2">
                    <p>
                        Attention, pour récupérer votre panier, il est impératif de respecter les horaires prédéfinis, qui ne peuvent pas être modifiés. Ces horaires sont déterminés en fonction de l'heure de livraison, et les paniers ne seront disponibles qu'à partir d'un certain moment.  <a href="./assets/fichierdepot.png" target="_blank" style="color: #5C8F36; text-decoration: underline;">(Voir le fichier)</a>
                    </p>
                </div>

                <div class="imgbas">
                    <img src="./assets/depotsbas.png" alt="Fin">
                </div>

            </div>
        </div>
</body>