<div class="containerFormulaireValidationEmploye">
  <div class="contentFormulaireValidationEmploye">
    <app-logo></app-logo>
  </div>

  <div class="imgEnTete">
    <img src="assets/formulaire_panier.jpg" alt="Accueil" />
  </div>

  <p>Vous avez choisi :</p>
  <div class="ChoixValidation">
    <div class="ChoixValidationAbonnement">
      <p>L'abonnement :</p>
      <p *ngIf="formulePanier">Formule sélectionnée : {{ formulePanier }}</p>
      <p *ngIf="!formulePanier">Aucun choix sélectionné.</p>
    </div>
  </div>

  <div class="buttons">
    <button type="button" class="btn retour" (click)="onBack()">
      <span>Retour</span>
    </button>
    <button type="button" class="btn suivant" (click)="onNext()">
      <span>Suivant</span>
    </button>
  </div>
</div>