<div class="containerFormulaireValidationEmploye">
  
    <div class="contentFormulaireValidationEmploye">
      <app-logo></app-logo>
    </div>

    <div class="imgEnTete">
        <img src="assets/formulaire_panier.jpg" alt="Accueil">
    </div>
    <p>Vous avez choisit :</p>

    <div class="ChoixValidation"> 
        <div class="ChoixValidationAbonnement">
            <p>L'abonnement : </p>
        </div>
    </div>

    <div class="buttons">
        <div class="retour">
          <a 
            class="button" 
            routerLink="/formulaire-choix-panier-employe"
            routerLinkActive="active"
            aria-current="page">
            <span>Retour</span>
          </a>
        </div>
        <div class="suivant">
          <a 
            class="button" 
            routerLink="/formulaire-valide-employe"
            routerLinkActive="active"
            aria-current="page">
            <span>Suivant</span>
          </a>
        </div>
    </div>

</div>