<body>
  <div class="containerFormulaireEmploye">
    <div class="contentFormulaireEmploye">
      <app-logo></app-logo>

      <div class="imgEnTete">
        <img src="assets/formulaire_panier.jpg" alt="Accueil">
      </div>

      <p>Remplissez ce formulaire pour rejoindre nos jardins et devenir adhérent dès aujourd’hui !</p>

      <div class="formulairePanier">
        <!-- Formulaire avec (ngSubmit) pour gérer la soumission -->
        <form (ngSubmit)="onSubmit()" #form="ngForm" novalidate>
          <!-- Champ Nom -->
          <label for="nom">Nom</label>
          <input type="text" id="nom" name="nom" placeholder="Entrez votre nom" required [(ngModel)]="nom"
            #nomCtrl="ngModel" />
          <div class="error" *ngIf="nomCtrl.invalid && nomCtrl.touched">
            <p>Le champ "Nom" est requis.</p>
          </div>

          <!-- Champ Prénom -->
          <label for="prenom">Prénom</label>
          <input type="text" id="prenom" name="prenom" placeholder="Entrez votre prénom" required [(ngModel)]="prenom"
            #prenomCtrl="ngModel" />
          <div class="error" *ngIf="prenomCtrl.invalid && prenomCtrl.touched">
            <p>Le champ "Prénom" est requis.</p>
          </div>

          <!-- Champ Date de Naissance -->
          <label for="date_naissance">Date de naissance</label>
          <input type="date" id="date_naissance" name="date_naissance" required [(ngModel)]="dateNaissance"
            #dateCtrl="ngModel" />
          <div class="error" *ngIf="dateCtrl.invalid && dateCtrl.touched">
            <p>Le champ "Date de naissance" est requis.</p>
          </div>

          <!-- Champ Email -->
          <label for="email">Adresse mail</label>
          <input type="email" id="email" name="email" placeholder="Entrez votre email" required [(ngModel)]="email"
            #emailCtrl="ngModel" />
          <div class="error" *ngIf="emailCtrl.invalid && emailCtrl.touched">
            <p>Veuillez saisir une adresse e-mail valide.</p>
          </div>
          <div class="error" *ngIf="email && email !== emailUtilisateur">
            <p>L'adresse e-mail doit correspondre à celle utilisée pour l'utilisateur connecté.</p>
          </div>

          <!-- Champ Adresse -->
          <label for="adresse">Adresse postale</label>
          <input type="text" id="adresse" name="adresse" placeholder="Entrez votre adresse postale" required
            [(ngModel)]="adresse" #adresseCtrl="ngModel" />
          <div class="error" *ngIf="adresseCtrl.invalid && adresseCtrl.touched">
            <p>Le champ "Adresse postale" est requis.</p>
          </div>

          <!-- Champ Ville -->
          <label for="ville">Ville</label>
          <input type="text" id="ville" name="ville" placeholder="Entrez votre ville" required [(ngModel)]="ville"
            #villeCtrl="ngModel" />
          <div class="error" *ngIf="villeCtrl.invalid && villeCtrl.touched">
            <p>Le champ "Ville" est requis.</p>
          </div>

          <!-- Champ Code Postal -->
          <label for="code_postal">Code postal</label>
          <input type="text" id="code_postal" name="code_postal" placeholder="Entrez votre code postal" required
            [(ngModel)]="codePostal" #codePostalCtrl="ngModel" />
          <div class="error" *ngIf="codePostalCtrl.invalid && codePostalCtrl.touched">
            <p>Le champ "Code postal" est requis.</p>
          </div>

          <!-- Boutons -->
          <div class="buttons">
            <button type="button" class="btn retour" (click)="onBack()">
              <span>Retour</span>
            </button>
            <button class="btn suivant" type="submit"
              [disabled]="form.invalid || (email && email !== emailUtilisateur)">
              <span>Suivant</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>