<body>
    <div class="containerProfil">
        <div class="containerLogo">
          <app-logo></app-logo>
        </div>


        <div class="containerHeader">
            <div class="imgEnTete">
                <img src="assets/image_date_absent.png" alt="Accueil">
            </div>
           
            <p>Absent ?</p>
        </div>

        <div class="absent-container">
            <div class="text-container">
              <p>Veuillez sélectionner la date à laquelle vous serez absent de votre domicile.</p>
            </div>
          
          <app-calendrier-livraison></app-calendrier-livraison>
          
            <div class="actions-container">
                <a 
                    class="action-button return-button"
                    routerLink="/app-profil-adherent"
                    routerLinkActive="active"
                    aria-current="page">
                    <span>Retour</span>
                </a>
                <a 
                    class="action-button next-button"
                    routerLink="/app-profil-reprogrammation-panier"
                    routerLinkActive="active"
                    aria-current="page">
                    <span>Suivant</span>
                </a>
            </div>
        </div>          
    </div>
</body>
