<div class="containerFormulaireValidationEmploye">
  
    <div class="contentFormulaireValidationEmploye">
      <app-logo></app-logo>
    </div>

    <div class="imgEnTete">
        <img src="assets/formulaire_panier.jpg" alt="Accueil">
    </div>

    <div class="ChoixValidation"> 
        <div class="ChoixValidationAbonnement">
            <p>Votre abonnement a été pris en compte. 
                Il est encore cours de traitement. 
                Nous vous invitions à consulter votre page Profil, afin de savoir le statut de votre abonnement. </p>
        </div>
    </div>

    <div class="buttons">
        <div class="abandonner">
          <a 
            class="button" 
            routerLink="/formulaire-choix-panier-employe"
            routerLinkActive="active"
            aria-current="page">
            <span>Abandonner</span>
          </a>
        </div>
        <div class="enregistrer">
          <a 
            class="button" 
            routerLink="/formulaire-valide-employe"
            routerLinkActive="active"
            aria-current="page">
            <span>Enregistrer</span>
          </a>
        </div>
    </div>

</div>