$main-font-color: #3a5a40;
$accent-color: #5C8F36;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;700&display=swap');


.container {
  display: flex;
  flex-wrap: wrap;

  .content {
    flex-grow: 1;
    margin-left: 42vh;

    header {
      display: flex;
      justify-content: flex-end; /* Aligner à gauche */
      font-size: 0.75em;
      font-family: 'Josefin Slab';
      font-weight: bold;
      color: $accent-color;
      margin-right: 4vh;
      
      .logo {
        height: 3vw;
        margin-right: 10px; /* Réduire l'espace entre le logo et le titre */
      }
    
      
    }
    
    

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      gap: 20px;
      margin-top: 30px;

      .card {
        width: 35vh;
        border-radius: 10px;
        box-shadow: $box-shadow;
        text-align: center;
        padding: 10px;
        background-color: #fff;
        transition: transform 0.3s;
        margin: 10px;

        img {
          width: 35vh;
          height: 15vh;
          object-fit: cover;
          margin-bottom: 10px;
        }

        h3 {
          font-size: 1.1rem;
          color: $main-font-color;
        }

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

// Media queries pour les tailles d'écran différentes
// Tablettes
@media (max-width: 768px) {
  .sidebar {
    width: 150px;
    padding: 10px;

    nav ul li a img {
      width: 30px;
      height: 30px;
    }
  }

  .grid {
    grid-template-columns: repeat(2, 1fr); // 2 colonnes pour les tablettes
    gap: 15px;
  }

  .card {
    width: 100%; // Les cartes prennent toute la largeur
  }

  .card img {
    height: 12vh; // Ajustement de la hauteur des images
  }
}

// Petits écrans (mobiles)
@media (max-width: 480px) {
  .container {
    flex-direction: column; // La sidebar se met au-dessus pour les petits écrans

    .sidebar {
      width: 100%; // La sidebar prend toute la largeur
      text-align: center; // Centrage des éléments de la sidebar
    }

    .grid {
      grid-template-columns: 1fr; // Une seule colonne pour les petits écrans
    }

    header {
      text-align: center; // Centre le texte du header sur mobile
    }

    .card {
      width: 100%; // Les cartes prennent toute la largeur
      margin: 10px 0;
    }

    .card img {
      height: 10vh; // Ajustement de la hauteur des images
    }
  }
}
