$sidebar-bg-color: #c9e6d3;
$icon-color: #333;
$main-font-color: #3a5a40;
$accent-color: #5C8F36;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

.container {
  display: flex;
  flex-wrap: wrap;

  .sidebar {
    background-color: $sidebar-bg-color;
    width: 200px;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; // Positionner la section Connexion en bas
    text-align: center; // Centrer le contenu

    .menu-title {
        font-size: 1.5em;
        font-weight: bold;
        color: #3a5a40;
        border-bottom: 2px solid #ffffff;
    }
    

    nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 10vh; // Ajoute de l'espace de 30px entre chaque icône

        &:last-child {
          margin-bottom: 10vh; // Pas d'espace après le dernier élément
        }

        a {
          text-decoration: none;
          color: $icon-color;
          display: block; // Pour que l'icône prenne toute la largeur
          text-align: center;

          img {
            width: 40px; // Taille des icônes ajustée
            height: 40px;
            object-fit: contain; // S'assurer que les icônes gardent leurs proportions
            transition: transform 0.3s ease; // Ajouter une animation douce au survol
          }

          &:hover img {
            transform: scale(1.1); // Zoom léger au survol
          }
        }
      }
    }

    .footer-menu {
      margin-top: auto; // Positionner en bas
      .login-link {
        font-size: 1.2rem;
        font-weight: bold;
        color: $main-font-color;
        text-decoration: none;
      }
    }
  }

  .content {
    flex-grow: 1;
    padding: 20px;

    header {
      text-align: right;
      font-size: 1em;
      font-family: 'Josefin Slab';
      font-weight: bold;
      color: $accent-color;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr); // 3 colonnes pour grands écrans
      gap: 20px;
      margin-top: 30px;

      .card {
        width: 35vh;
        border-radius: 10px;
        box-shadow: $box-shadow;
        text-align: center;
        padding: 10px;
        background-color: #fff;
        transition: transform 0.3s;
        margin: 10px;

        img {
          width: 35vh;
          height: 15vh;
          object-fit: cover;
          margin-bottom: 10px;
        }

        h3 {
          font-size: 1.1rem;
          color: $main-font-color;
        }

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}

// Media queries pour les tailles d'écran différentes
// Tablettes
@media (max-width: 768px) {
  .sidebar {
    width: 150px;
    padding: 10px;

    nav ul li a img {
      width: 30px;
      height: 30px;
    }
  }

  .grid {
    grid-template-columns: repeat(2, 1fr); // 2 colonnes pour les tablettes
    gap: 15px;
  }

  .card {
    width: 100%; // Les cartes prennent toute la largeur
  }

  .card img {
    height: 12vh; // Ajustement de la hauteur des images
  }
}

// Petits écrans (mobiles)
@media (max-width: 480px) {
  .container {
    flex-direction: column; // La sidebar se met au-dessus pour les petits écrans

    .sidebar {
      width: 100%; // La sidebar prend toute la largeur
      text-align: center; // Centrage des éléments de la sidebar
    }

    .grid {
      grid-template-columns: 1fr; // Une seule colonne pour les petits écrans
    }

    header {
      text-align: center; // Centre le texte du header sur mobile
    }

    .card {
      width: 100%; // Les cartes prennent toute la largeur
      margin: 10px 0;
    }

    .card img {
      height: 10vh; // Ajustement de la hauteur des images
    }
  }
}
