<body>
    <div class="containerPanier">
        <app-sidebar></app-sidebar>

        <div class="contentPanier">
            <app-logo></app-logo>

            <div class="imgEnTete">
                <img src="assets/image_ecran_panier.jpg" alt="Accueil">
            </div>

            <div class="presentationPanier">
                <div class="titre">
                    <p>Nos services</p>
                </div>

                <div class="nosService">
                    <div class="partie_1">
                        <h3>Magasin</h3>
                        <p>
                            Notre magasin, exclusivement réservé à nos adhérents, est ouvert 5 jours par semaine du mardi au samedi et propose
                            en libre choix légumes, œufs, fruits ainsi qu’une sélection de
                            produits locaux : épicerie, pains, fromages, confitures, viande.
                        </p>
                    </div>
                    <div class="partie_2">
                        <h3>Paniers</h3>
                        <p>
                            Nos adhérents peuvent bénéficier de produits frais, biologiques
                            et de saison via un système d’abonnement à des paniers
                            hebdomadaires avec, au choix :<br>
                                > Légumes bio de nos jardins<br>
                                > Œufs de pâturage bio locaux<br>
                                > Fruits bio
                        </p>
                    </div>
                    <div class="partie_3">
                        <h3>Tarifs</h3>
                        <h4>(hors cotisation 5)</h4>
                    </div>
                    <div class="partie_4">
                        <p>> Paniers légumes Bio</p>
                         
                        <table>
                         <div class= "depot">
                             <th>Livraison : Dépôt </th>
                         </div>
                         <th>Panier familial</th>
                         <th>Panier simple</th>
 
                         <tr>
                             <td>Mensuel</td>
                             <td>95,50€</td>
                             <td>55,50€</td>
                         </tr>
                         <tr>
                             <td>Trimestriel</td>
                             <td>286,50€</td>
                             <td>166,50€</td>
                         </tr>
                         <tr>
                             <td>Annuel</td>
                             <td>1 146,00€</td>
                             <td>666,00€</td>
                         </tr>
 
                         
                        </table>
                     </div>
                    


                    
                    <div class="partie_5">
                       
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</body>