<body>
    <div class="containerFaitsDivers">
        <div class="contentFaitsDivers">
            <app-logo></app-logo>

            <div class="imgEnTete">
                <img src="assets/legumes-de-saison.jpg" alt="Légumes de saison">
            </div>


            <div class="legume">
                <div class="titre">
                    <p>Les légumes du mois</p>
                </div>
            
                <div class="explication">
                    <p>Chaque mois, les légumes de saison se renouvellent, apportant avec eux de nouvelles saveurs et couleurs à nos assiettes. Ce cycle naturel nous invite à adapter notre cuisine aux richesses que la terre nous offre, en harmonie avec le rythme des saisons. Une invitation à redécouvrir la fraîcheur et la diversité à chaque repas.</p>
                    <p>
                        Voici la liste de légumes que nous pouvons retrouver en octobre.
                    </p>
                </div>
            
                <div class="tableau">
                    <table>
                        <tr>
                            <td>Aubergine<img src="assets/legume_fruit/aubergine.png" alt="Aubergine"></td>
                            <td>Batavia<img src="assets/legume_fruit/batavia.png" alt="Batavia"></td>
                            <td>Bette<img src="assets/legume_fruit/bette.png" alt="Bette"></td>
                        </tr>
                        <tr>
                            <td>Betterave rouge<img src="assets/legume_fruit/bettrave.png" alt="Betterave rouge"></td>
                            <td>Carotte<img src="assets/legume_fruit/carotte.png" alt="Carotte"></td>
                            <td>Céleri rave<img src="assets/legume_fruit/celeri.png" alt="Céleri rave"></td>
                        </tr>
                        <tr>
                            <td>Chou blanc<img src="assets/legume_fruit/chou_blanc.png" alt="Chou blanc"></td>
                            <td>Chou brocoli<img src="assets/legume_fruit/brocoli.png" alt="Chou brocoli"></td>
                            <td>Chou chinois<img src="assets/legume_fruit/chou_chinois.png" alt="Chou chinois"></td>
                        </tr>
                        <tr>
                            <td>Chou fleur<img src="assets/legume_fruit/chou_fleur.png" alt="Chou fleur"></td>
                            <td>Chou rave<img src="assets/legume_fruit/chou_rave.png" alt="Chou rave"></td>
                            <td>Choucroute<img src="assets/legume_fruit/choucroute.png" alt="Choucroute"></td>
                        </tr>
                        <tr>
                            <td>Courge<img src="assets/legume_fruit/courge.png" alt="Courge"></td>
                            <td>Courgette<img src="assets/legume_fruit/courgette.png" alt="Courgette"></td>
                            <td>Epinard<img src="assets/legume_fruit/epinard.png" alt="Epinard"></td>
                        </tr>
                        <tr>
                            <td>Fenouil<img src="assets/legume_fruit/fenouil.png" alt="Fenouil"></td>
                            <td>Haricot beurre<img src="assets/legume_fruit/haricot_beurre.jpg" alt="Haricot beurre"></td>
                            <td>Haricot vert<img src="assets/legume_fruit/haricot_vert.jpg" alt="Haricot vert"></td>
                        </tr>
                        <tr>
                            <td>Mâche<img src="assets/legume_fruit/mache.png" alt="Mâche"></td>
                            <td>Navet botte<img src="assets/legume_fruit/navet_botte.png" alt="Navet botte"></td>
                            <td>Navet violet/jaune<img src="assets/legume_fruit/navet_mauve_jaune.png" alt="Navet violet/jaune"></td>
                        </tr>
                        <tr>
                            <td>Oignon jaune/rouge<img src="assets/legume_fruit/oignon.png" alt="Oignon jaune/rouge"></td>
                            <td>Pomme de terre<img src="assets/legume_fruit/pomme_terre.png" alt="Pomme de terre"></td>
                            <td>Persil<img src="assets/legume_fruit/persil.png" alt="Persil"></td>
                        </tr>
                        <tr>
                            <td>Poireau<img src="assets/legume_fruit/poireau.jpg" alt="Poireau"></td>
                            <td>Poivron<img src="assets/legume_fruit/poivron.png" alt="Poivron"></td>
                            <td>Radis asiatique rouge<img src="assets/legume_fruit/radis_asiatique.png" alt="Radis asiatique rouge"></td>
                        </tr>
                        <tr>
                            <td>Radis rose<img src="assets/legume_fruit/radis.png" alt="Radis rose"></td>
                            <td>Rutabaga<img src="assets/legume_fruit/rutabaga.png" alt="Rutabaga"></td>
                            <td>Tomate cerise/ronde<img src="assets/legume_fruit/tomate.png" alt="Tomate cerise"></td>
                        </tr>
                    </table>                
                </div>
            </div>
        </div>
    </div>
</body>


