<body>
    <div class="containerPanierEmploye">

        <div class="contentPanierEmploye">
            <app-logo></app-logo>

            <div class="imgEnTete">
                <img src="assets/image_ecran_panier.jpg" alt="Accueil">
            </div>

            <div class="presentationPanier">
                <div class="titre">
                    <p>Les conditons et les tarifs</p>
                </div>

                <div class="lesPaniers">
                    <div class="partie_1">
                        <h4>> Paniers solidaire BIO</h4>
                        <p>
                            Je m’engage à prendre mon panier solidaire de légume chaque semaine. Ces paniers
                            sont distribués sur 50 semaines.
                        </p>
                        <p>
                            Lors de mes congés ou d’une absence, je m’engage à signaler mon absence. A mon retour, il sera compensé par un panier familial.
                        </p>
                        <p>
                            Si j’oublie de prévenir de mon absence, le panier sera comptabilisé et non doublé à
                            votre retour.
                        </p>
                        <p>
                            Certifie autoriser par la présente, l’Association Jardins de Cocagne de Thaon-les-Vosges ou autres, à
                            prélever sur mon salaire les paniers de légumes
                        </p>
                        <h5>Le montant du prélèvement mensuel est de 5 euros.</h5>
                        <p>Je conserve cependant, à tout moment, le droit de dénoncer cette autorisation.</p>
                     </div>
                    <div class="partie_2">
                        <h4>> Paniers Simple BIO</h4>
                        <p>
                            Je m’engage à prendre mon panier solidaire de légume chaque semaine. Ces paniers
                            sont distribués sur 50 semaines.
                        </p>
                        <p>
                            Lors de mes congés ou d’une absence, je m’engage à signaler mon absence. A mon retour, il sera compensé par un panier familial.
                        </p>
                        <p>
                            Si j’oublie de prévenir de mon absence, le panier sera comptabilisé et non doublé à
                            votre retour.
                        </p>
                        <p>
                            Certifie autoriser par la présente, l’Association Jardins de Cocagne de Thaon-les-Vosges ou autres, à
                            prélever sur mon salaire les paniers de légumes
                        </p>
                        <h5>Le montant du prélèvement mensuel est de 20 euros.</h5>
                        <p>Je conserve cependant, à tout moment, le droit de dénoncer cette autorisation.</p>
                    </div>
                </div>
            </div>

            <div class="employe">
                <a 
                  class="button" 
                  routerLink="/formulaire-panier-employe"
                  routerLinkActive="active"
                  aria-current="page">
                  <span>Souscrire un abonnement</span>
                </a>
            </div>
        </div>
    </div>
</body>