<body>
    <div class="containerLivraison">
        <app-logo></app-logo>

        <div class="imgEnTete">
            <img src="assets/dates-livraison.jpg" alt="Livraison">
        </div>

        <div class="titre">
            <p>
                Calendrier des livraisons
            </p>
        </div>

    </div>
        
    <div class="contentFaitsDivers">

           
            <app-calendrier-livraison></app-calendrier-livraison>
            <app-trajet-livraison></app-trajet-livraison>
    </div>

   
</body>