<div class="containerProfil">
  <!-- Logo -->
  <div class="containerLogo">
    <app-logo></app-logo>
  </div>

  <!-- En-tête avec image et nom -->
  <div class="header-profile">
    <img src="assets/ImgProfil.png" alt="Logo" class="profile-logo">
    <h1 class="profile-name">{{ username }}</h1>
  </div>

  <!-- Profil utilisateur -->
  <div class="profile-content">
    <!-- Informations utilisateur -->
    <div class="user-info">
      <div class="info-item">
        <span>Nom :</span>
        <span>Dupont</span>
      </div>
      <div class="info-item">
        <span>Prénom :</span>
        <span>Jean</span>
      </div>
      <div class="info-item">
        <span>Date de naissance :</span>
        <span>01/01/1970</span>
      </div>
      <div class="info-item">
        <span>Adresse mail :</span>
        <span>xxxxx</span>
      </div>
      <div class="info-item">
        <span>Adresse postale :</span>
        <span>1 rue des Fleurs</span>
      </div>
      <div class="info-item">
        <span>Ville :</span>
        <span>Paris</span>
      </div>
      <div class="info-item">
        <span>Code postal :</span>
        <span>75000</span>
      </div>
      <div class="info-item">
        <span>Numéro de téléphone portable :</span>
        <span>06 12 34 56 78</span>
      </div>
    </div>
    <button class="edit-button">Modifier</button>
  </div>

  <!-- Informations de paiement -->
  <div class="profile-content">
    <div class="payment-info">
      <div class="info-item">
        <span>Date du paiement de la cotisation :</span>
        <span>01/02/2024</span>
      </div>
      <div class="info-item">
        <span>Statut du paiement :</span>
        <span>Accepté</span>
      </div>
      <div class="info-item">
        <span>Mon abonnement :</span>
        <button class="voirDetails" (click)="openModalAbonnement()">Voir les détails</button>
      </div>

      <!-- Inclusion de la modale abonnement -->
      <app-profil-modal-abonnement
        [isOpen]="isModalAbonnementOpen"
        (close)="closeModalAbonnement()">
      </app-profil-modal-abonnement>

      <div class="info-item">
        <span>Type de livraison :</span>
        <button class="voirDetails" (click)="openModalLivraison()">Voir les détails</button>
      </div>

      <app-profil-modal-livraison
        [isOpen]="isModalLivraisonOpen"
        (close)="closeModalLivraison()">
      </app-profil-modal-livraison>


      <app-profil-modal-historique-paiement
        [isOpen]="isModalHistoriquePaiementOpen"
        (close)="closeModalHistoriquePaiement()">
      </app-profil-modal-historique-paiement>

      <div class="info-item">
        <span>Historique des paiements :</span>
        <button class="voirDetails" (click)="openModalHistoriquePaiement()">Voir les détails</button>
      </div>
     
    </div>
  </div>
</div>
