.header-profile {
    display: flex;
    margin-left: 50vh;
    margin-top: 10vh;
    margin-left: 55vh;
}

.profile-logo {
    width: 12%; 
    height: 12%; 
    border-radius: 50%; 
    border: 2px solid #a1a1a1; 
    margin-right: 2vh;
}

.profile-name {
    font-family: 'Milonga', serif;
    font-size: 2em; 
    font-weight: bold;
    margin-top: 5vh;
    margin-left: 2vh;
}

.profile-content {
    max-width: 800px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
    padding: 25px 30px;
    margin-left: 26%;
    margin-top: 10vh;
    font-family: 'Literata';
    border: 1px solid #a1a1a1;
}

.user-info,
.payment-info {
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    justify-content: space-between; 
    padding: 15px 0;
    border-bottom: 1px solid #eaeaea; 
    font-size: 1rem;
}

.info-item:last-child {
    border-bottom: none;
}

.info-item span:first-child {
    font-weight: bold;
}

.info-item:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.edit-button {
    display: inline-block;
    margin: 20px 0 0; 
    padding: 10px 20px; 
    background-color: #ADE8FD; 
    color: #085D70;
    border: none;
    border-radius: 5px; 
    font-size: 1rem;
    font-family: 'Arima';
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 87%;
}

.edit-button:hover {
    background-color: #085D70; 
    color: #ADE8FD;
}

.voirDetails {
    background-color: #ADE8FD;
    border: none;
    padding: 1.5%;
    border-radius: 1vh;
    font-family: 'Arima';
    color: #085D70;
    font-weight: bold;
    font-size: 1rem;
}

.voirDetails:hover {
    background-color: #085D70;
    color: #ADE8FD;
}