<div class="containerChoixPanierEmploye">
  <div class="contentChoixPanierEmploye">
    <app-logo></app-logo>

    <div class="imgEnTete">
      <img src="assets/formulaire_panier.jpg" alt="Photo panier légume" />
    </div>

    <div class="formChoixPanierEmploye">
      <form>
        <div class="option">
          <label for="panierSolidaire">Panier solidaire</label>
          <input type="radio" id="panierSolidaire" name="formulePanier" [(ngModel)]="formulePanier"
            value="panierSolidaire" />
        </div>
        <div class="option">
          <label for="panierSimple">Panier simple</label>
          <input type="radio" id="panierSimple" name="formulePanier" [(ngModel)]="formulePanier" value="panierSimple" />
        </div>
      </form>
    </div>

    <div class="buttons">
      <a class="btn retour" routerLink="/formulaire-panier-employe" routerLinkActive="active" aria-current="page">
        <span>Retour</span>
      </a>
      <button class="btn suivant" type="button" (click)="onNext()">
        <span>Suivant</span>
      </button>
    </div>
  </div>
</div>