<div class="app-layout">
  <div class="sidebar" [class.open]="isSidebarOpen">
    <div class="menu-header">
      <h2 class="menuTitle" *ngIf="!isSidebarOpen">{{ menuTitle }}</h2>
      <h2 class="menuTitleOuvert" *ngIf="isSidebarOpen">{{ menuTitleOuvert }}</h2>

      <img class="fleche" [src]="isSidebarOpen ? 'assets/fleche_gauche.png' : 'assets/fleche_droite.png'"
        (click)="toggleSidebar()" alt="Toggle Sidebar">
    </div>

    <img class="ligne_ouvert" [src]="isSidebarOpen ? 'assets/ligne_ouvert.png' : 'assets/ligne_ferme.png'"
      alt="Ligne blanche">

    <a class="button" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img src="assets/accueil.png" alt="Accueil">
      <div class="faits" *ngIf="isSidebarOpen">
        <p>Accueil</p>
      </div>
    </a>



    <a class="button"  *ngIf="isLoggedIn && role === 'admin'" routerLink="/inscription-admin" routerLinkActive="active"
    ariaCurrentWhenActive="page">
    <img src="assets/inscription.png" alt="Inscription">
    <div class="faits" *ngIf="isSidebarOpen">
      <p>Inscription</p>
    </div>
  </a>


  <a class="button" *ngIf="isLoggedIn && role === 'admin'" routerLink="/paiement-admin" routerLinkActive="active"
    ariaCurrentWhenActive="page">
    <img src="assets/paiement.png" alt="Paiement">
    <div class="faits" *ngIf="isSidebarOpen">
      <p>Paiement</p>
    </div>
  </a>

    <a class="button" routerLink="/app-panier" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img src="assets/panier.png" alt="Panier">
      <div class="faits" *ngIf="isSidebarOpen">
        <p>Panier</p>
      </div>
    </a>

    <a class="button" routerLink="/app-livraison" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img src="assets/camion.png" alt="Livraison">
      <div class="faits" *ngIf="isSidebarOpen">
        <p>Livraison</p>
      </div>
    </a>


    <a class="button" *ngIf="isLoggedIn && role === 'employe'" routerLink="/stocks-produits" routerLinkActive="active"
      ariaCurrentWhenActive="page">
      <img src="assets/stocks.png" alt="Stock">
      <div class="faits" *ngIf="isSidebarOpen">
        <p>Stock</p>
      </div>
    </a>

    <a class="button" *ngIf="isLoggedIn && role === 'employe'" routerLink="/commande-client" routerLinkActive="active"
      ariaCurrentWhenActive="page">
      <img src="assets/commande.png" alt="Commande">
      <div class="faits" *ngIf="isSidebarOpen">
        <p>Commandes</p>
      </div>
    </a>



    <a class="button" routerLink="/faits-divers" routerLinkActive="active" ariaCurrentWhenActive="page">
      <img src="assets/faitsDivers.png" alt="Faits Divers">
      <div class="faits" *ngIf="isSidebarOpen">
        <p>Faits Divers</p>
      </div>
    </a>

    <!-- Afficher le lien "Profil" uniquement si l'utilisateur est connecté -->
    <a class="button" *ngIf="isLoggedIn" routerLink="/app-profil-adherent" routerLinkActive="active"
      ariaCurrentWhenActive="page">
      <img src="assets/pageprofil.png" alt="Profil">
      <div class="faits" *ngIf="isSidebarOpen">
        <p>Profil</p>
      </div>
    </a>



 

    <div *ngIf="isSidebarOpen" class="deco">
      <p *ngIf="isLoggedIn" (click)="onLogout()">Déconnexion</p>
      <p *ngIf="!isLoggedIn" (click)="openModal()">Connexion</p>
      <p *ngIf="!isLoggedIn" (click)="openSignupModal()">S'inscrire</p>
    </div>
  </div>

  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- Modale de Connexion -->
<div *ngIf="showLoginModal" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <img src="assets/cocagne-vert.png" alt="Logo" class="logo">
      <h2>Connectez-vous pour plus d'avantages !</h2>
      <button class="close-button" (click)="closeModal()">&times;</button>
    </div>

    <form (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" required>
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>

      <div class="radio-group">
        <p>Qui êtes-vous ?</p>
        <div class="radio-options">
          <label>
            <input type="radio" name="role" [(ngModel)]="role" value="adherent">
            Adhérent
          </label>
          <label>
            <input type="radio" name="role" [(ngModel)]="role" value="employe">
            Employé
          </label>
        </div>
      </div>

      <button type="submit">Se connecter</button>
    </form>
  </div>
</div>

<!-- Modale d'inscription -->
<div *ngIf="showSignupModal" class="modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <img src="assets/cocagne-vert.png" alt="Logo" class="logo">
      <h2>Rejoignez-nous !</h2>
      <button class="close-button" (click)="closeSignupModal()">&times;</button>
    </div>

    <form (ngSubmit)="onSignup()">
      <div class="form-group">
        <label for="signup-username">Nom d'utilisateur</label>
        <input type="text" id="signup-username" [(ngModel)]="signupUsername" name="signupUsername" required>
      </div>

      <div class="form-group">
        <label for="signup-password">Mot de passe</label>
        <input type="password" id="signup-password" [(ngModel)]="signupPassword" name="signupPassword" required>
      </div>

      <div class="form-group">
        <label for="signup-email">Adresse mail</label>
        <input type="email" id="signup-email" [(ngModel)]="signupEmail" name="signupEmail" required>
      </div>

      <div class="radio-group">
        <p>Quel rôle choisissez-vous ?</p>
        <div class="radio-options">
          <label>
            <input type="radio" name="signupRole" [(ngModel)]="signupRole" value="employe">
            Employé
          </label>
          <label>
            <input type="radio" name="signupRole" [(ngModel)]="signupRole" value="adherent">
            Adhérent
          </label>
        </div>
      </div>

      <button type="submit">S'inscrire</button>
    </form>
  </div>
</div>