@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


$main-font-color: #2F5232;
$sidebar-bg-color: #B1D9B7;


.sidebar {
  background-color: $sidebar-bg-color;
  width: 20vh; 
  height: 100%;
  transition: width 0.55s ease; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .ligne_ouvert {
    margin-left: 2.3vh; 
  }

  .menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1vh; 
    
    .menuTitle  {
      color: $main-font-color;
      font-family: 'Instrument Sans';
      margin-left: 3.2vh;
      margin-top: 2vw;
    }
    
    .menuTitleOuvert{
      color: $main-font-color;
      font-family: 'Instrument Sans';
      margin-left: 2vh;
      margin-top: 2vw;
    }

    .fleche {
      height: 1.4vw;
      margin-top: 0.9vw;
    }
  }

  &.open {
    width: 35vh;
  }

  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 4.7vw 0;

      a {
        display: flex;
        align-items: center;
        color: $main-font-color;
        font-family: 'Inter';
        text-decoration: none;

        img {
          width: 4.5vh;
          height: 4.5vh;
          margin-left: 7vh; /* Adjusted margin for proper alignment */
        }

        span {
          margin-left: 1rem;
          white-space: nowrap;
        }
      }
    }
  }

  nav p {
    font-family: 'Instrument Sans';
    color: $main-font-color;
    margin-left: 9.5vh;
  }

  
}