<div class="sidebar" [class.open]="isSidebarOpen">
    <!-- Titre affiché quand la sidebar est fermée -->
    <div class="menu-title" *ngIf="!isSidebarOpen">
      <h2>{{ menuTitle }}</h2>
    </div>
  
    <!-- Titre affiché quand la sidebar est ouverte -->
    <div class="menu-title" *ngIf="isSidebarOpen">
      <h2>{{ menuTitleOuvert }}</h2>
    </div>
  
    <nav>
      <ul>
        <li *ngFor="let item of menuItems">
          <a [href]="item.link" [attr.aria-label]="item.label">
            <img [src]="item.icon" alt="{{ item.label }}" />
            <!-- Afficher le label uniquement si la sidebar est ouverte -->
            <span *ngIf="isSidebarOpen">{{ item.label }}</span>
          </a>
        </li>
      </ul>
    </nav>
  
    <!-- Bouton de basculement avec l'image de la flèche -->
    <img class="fleche" src="assets/flèche_gauche.png" (click)="toggleSidebar()" alt="Toggle Sidebar">
    <!-- Afficher la flèche selon l'état de la sidebar -->
    <span *ngIf="isSidebarOpen"></span>
    <span *ngIf="!isSidebarOpen"></span>
</div>
  