$main-font-color: #2F5232;
$sidebar-bg-color: #B1D9B7;


.sidebar {
  background-color: $sidebar-bg-color;
  width: 20vh; 
  height: 100%;
  transition: width 0.55s ease; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  .ligne_ouvert {
    margin-left: 2.3vh; 
    margin-bottom: 5vw;
  }

  .menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1vh; 
    
    .menuTitle  {
      color: $main-font-color;
      font-family: 'Instrument Sans';
      margin-left: 3.2vh;
      margin-top: 2vw;
    }
    
    .menuTitleOuvert{
      color: $main-font-color;
      font-family: 'Instrument Sans';
      margin-left: 2vh;
      margin-top: 2vw;
    }

    .fleche {
      height: 1.4vw;
      margin-top: 0.9vw;
    }
  }

  &.open {
    width: 35vh;
  }
  a {
    display: flex;
    align-items: center;
    color: $main-font-color;
    text-decoration: none;
    font-family: 'Instrument Sans';
    margin-left: 3.5vw;  // Marges par défaut (fermé)
    margin-bottom: 5vw;

    img {
      width: 4.5vh;
      height: 4.5vh;
      
    }

   
  }

  &.open {
    width: 35vh;

    a {
      margin-left: 2vw;
      margin-bottom: 3vw;

      img {
        margin-right: 3vh;
      }

      p{
        margin-top: 1.5vw;
      }
    }
  }

  .deco p {
    color: $main-font-color;
    font-family: 'Instrument Sans';
    margin-top: 4.5vw;
    margin-left: 9vh;
  }
}