<body>
    <div class="containerPanier">
  
      <div class="contentPanier">
        <app-logo></app-logo>
  
        <div class="imgEnTete">
          <img src="assets/formulaire_panier.jpg" alt="Accueil">
        </div>
  
        <p>J'opte pour la formule Panier légumes Bio :</p>
  
        <div class="formPanier">
          <form>
            <div class="option">
              <label for="panierSimple">Panier simple hebdomadaires</label>
              <input type="radio" id="panierSimple" name="panierLegumes" [(ngModel)]="panierLegumes" value="simple-hebdo">
            </div>
            <div class="option">
              <label for="panierFamilial">Panier familial hebdomadaires</label>
              <input type="radio" id="panierFamilial" name="panierLegumes" [(ngModel)]="panierLegumes" value="familial-hebdo">
            </div>
            <div class="option">
              <label for="panierSimple6">Panier simple</label>
              <input type="radio" id="panierSimple6" name="panierLegumes" [(ngModel)]="panierLegumes" value="simple-6">
            </div>
          </form>
        </div>
  
        <hr>
  
        <div class="fruit">
          <p>J'opte pour la formule Panier fruit BIO :</p>
          <form>
            <div class="option">
              <label for="panierFruitsBio">Panier de fruits Bio</label>
              <input type="checkbox" id="panierFruitsBio" [(ngModel)]="panierFruits" />
            </div>
            <div class="quantity" *ngIf="panierFruits">
              <label for="nbPanierFruits">Nombre de paniers que vous souhaitez :</label>
              <select id="nbPanierFruits" [(ngModel)]="nbPanierFruits">
                <option *ngFor="let i of numbers" [value]="i">{{ i }}</option>
              </select>
            </div>
          </form>
        </div>
  
        <hr>
  
        <div class="oeufs">
          <p>J'opte pour la formule Boîte de 6 œufs Bio :</p>
          <form>
            <div class="option">
              <label for="boiteOeuf">Boîte à œufs</label>
              <input type="checkbox" id="boiteOeuf" [(ngModel)]="boiteOeuf" />
            </div>
            <div class="quantity" *ngIf="boiteOeuf">
              <label for="nbBoiteOeuf">Nombre de paniers que vous souhaitez :</label>
              <select id="nbBoiteOeuf" [(ngModel)]="nbBoiteOeuf">
                <option *ngFor="let i of numbers" [value]="i">{{ i }}</option>
              </select>
            </div>
          </form>
        </div>
  
        <hr>
  
        <div class="buttons">
          <a class="btn retour" routerLink="/app-formulaire-cotisation" routerLinkActive="active" aria-current="page">
            <span>Retour</span>
          </a>
          <button class="btn suivant" (click)="onNext()">
            <span>Suivant</span>
          </button>
        </div>
      </div>
    </div>
  </body>
  