<body>
    <div class="containerFaitsDivers">
        <div class="contentFaitsDivers">
            <app-logo></app-logo>
            
            <div class="imgEnTete">
                <img src="assets/image_info.jpg" alt="Accueil">
            </div>

            <div class="presentation">
                <div class="titre">
                    <p>Qui sommes nous ?</p>
                </div>
    
                <div class="explication">
                    <div class="partie_1">
                        <p>
                            > Les Jardins de Cocagne sont un Atelier et Chantier d’Insertion
                            par l’Activité Economique créée en 1994 sur la Prairie Claudel
                            de Thaon-les-Vosges.
                        </p>
                    </div>
                    <div class="partie_2">
                        <p>
                            > Association loi 1901, ils sont gérés par un Conseil d’Administration
                            élu par l’ensemble des adhérents et comptent environ 60 salariés
                            permanents et en insertion.
                        </p>
                    </div>
                    <div class="partie_3">
                        <p>
                            > Les Jardins de Cocagne appartiennent au Réseau Cocagne,
                            réseau national de jardins maraîchers biologiques
                            d’insertion sociale et professionnelle.
                        </p>
                    </div>
                    <div class="partie_4">
                        <p>
                            > Leurs nombreux partenariats avec les services de l’Etat,
                            les collectivités territoriales et les entreprises leur permettent
                            d’assurer leur vocation d’insertion socioprofessionnelle.
                        </p>
                    </div>
                    <div class="partie_5">
                        <p>
                            > Vous pouvez télécharger le flyer des Jardins de Cocagne. Il vous suffit de 
                            <a class="telecharger" href="#">cliquer ici</a> et <a class="telecharger" href="#">ici aussi</a>.
                        </p>
                    </div>
                </div>
            </div>

            <hr class="ligne-separateur">

            <div class="legume">
                <div class="titre">
                    <p>Les légumes du mois</p>
                </div>
    
                <div class="explication">
                    <p>Chaque mois, les légumes de saison se renouvellent, apportant avec eux de nouvelles saveurs et couleurs à nos assiettes. Ce cycle naturel nous invite à adapter notre cuisine aux richesses que la terre nous offre, en harmonie avec le rythme des saisons. Une invitation à redécouvrir la fraîcheur et la diversité à chaque repas.</p>
                    <p>
                        Voici la liste de légumes que nous pouvons retrouver en octobre.
                    </p>
                </div>
    
                <div class="tableau">
                    <table>
                        <tr>
                            <td>Aubergine<img src="assets/legume_fruit/aubergine.png" alt="Aubergine"></td>
                            <td>Batavia<img src="assets/legume_fruit/batavia.png" alt="Batavia"></td>
                            <td>Bette<img src="assets/legume_fruit/bette.png" alt="Bette"></td>
                        </tr>
                        <tr>
                            <td>Betterave rouge<img src="assets/legume_fruit/bettrave.png" alt="Betterave rouge"></td>
                            <td>Carotte<img src="assets/legume_fruit/carotte.png" alt="Carotte"></td>
                            <td>Céleri rave<img src="assets/legume_fruit/celeri.png" alt="Céleri rave"></td>
                        </tr>
                        <tr>
                            <td>Chou blanc<img src="assets/legume_fruit/chou_blanc.png" alt="Chou blanc"></td>
                            <td>Chou brocoli<img src="assets/legume_fruit/brocoli.png" alt="Chou brocoli"></td>
                            <td>Chou chinois<img src="assets/legume_fruit/chou_chinois.png" alt="Chou chinois"></td>
                        </tr>
                        <tr>
                            <td>Chou fleur<img src="assets/legume_fruit/chou_fleur.png" alt="Chou fleur"></td>
                            <td>Chou rave<img src="assets/legume_fruit/chou_rave.png" alt="Chou rave"></td>
                            <td>Choucroute<img src="assets/legume_fruit/choucroute.png" alt="Choucroute"></td>
                        </tr>
                        <tr>
                            <td>Courge<img src="assets/legume_fruit/courge.png" alt="Courge"></td>
                            <td>Courgette<img src="assets/legume_fruit/courgette.png" alt="Courgette"></td>
                            <td>Epinard<img src="assets/legume_fruit/epinard.png" alt="Epinard"></td>
                        </tr>
                        <tr>
                            <td>Fenouil<img src="assets/legume_fruit/fenouil.png" alt="Fenouil"></td>
                            <td>Haricot beurre<img src="assets/legume_fruit/haricot_beurre.jpg" alt="Haricot beurre"></td>
                            <td>Haricot vert<img src="assets/legume_fruit/haricot_vert.jpg" alt="Haricot vert"></td>
                        </tr>
                        <tr>
                            <td>Mâche<img src="assets/legume_fruit/mache.png" alt="Mâche"></td>
                            <td>Navet botte<img src="assets/legume_fruit/navet_botte.png" alt="Navet botte"></td>
                            <td>Navet violet/jaune<img src="assets/legume_fruit/navet_mauve_jaune.png" alt="Navet violet/jaune"></td>
                        </tr>
                        <tr>
                            <td>Oignon jaune/rouge<img src="assets/legume_fruit/oignon.png" alt="Oignon jaune/rouge"></td>
                            <td>Pomme de terre<img src="assets/legume_fruit/pomme_terre.png" alt="Pomme de terre"></td>
                            <td>Persil<img src="assets/legume_fruit/persil.png" alt="Persil"></td>
                        </tr>
                        <tr>
                            <td>Poireau<img src="assets/legume_fruit/poireau.jpg" alt="Poireau"></td>
                            <td>Poivron<img src="assets/legume_fruit/poivron.png" alt="Poivron"></td>
                            <td>Radis asiatique rouge<img src="assets/legume_fruit/radis_asiatique.png" alt="Radis asiatique rouge"></td>
                        </tr>
                        <tr>
                            <td>Radis rose<img src="assets/legume_fruit/radis.png" alt="Radis rose"></td>
                            <td>Rutabaga<img src="assets/legume_fruit/rutabaga.png" alt="Rutabaga"></td>
                            <td>Tomate cerise/ronde<img src="assets/legume_fruit/tomate.png" alt="Tomate cerise"></td>
                        </tr>
                    </table>                
                </div>
            </div>

            <hr class="ligne-separateur">

            <div class="fruit">
                <div class="titre">
                    <p>Les fruits du mois</p>
                </div>
    
                <div class="explication">
                    <p>Chaque mois, les fruits de saison varient, apportant avec eux une palette de couleurs et de saveurs uniques. Que ce soit les baies juteuses de l’été, les pommes croquantes de l’automne ou les agrumes vitaminés de l’hiver, chaque période de l’année nous invite à savourer des fruits frais, cultivés en harmonie avec la nature. Ce renouvellement constant est une véritable célébration de la diversité et des bienfaits que nous offre la terre, transformant nos moments gourmands en une expérience riche et variée, au fil des saisons.</p>
                    <p>
                        Voici la liste des fruits que nous pouvons retrouver en octobre.
                    </p>
                </div>
    
                <div class="tableau">
                    <table>
                        <tr>
                            <td>Citron<img src="assets/legume_fruit/citron.jpg" alt="Citron"></td>
                            <td>Coing<img src="assets/legume_fruit/coings.jpg" alt="Coing"></td>
                            <td>Figue<img src="assets/legume_fruit/figue.png" alt="Figue"></td>
                        </tr>
                        <tr>
                            <td>Châtaigne<img src="assets/legume_fruit/chataigne.png" alt="Châtaigne"></td>
                            <td>Grenade<img src="assets/legume_fruit/grenade.jpg" alt="Grenade"></td>
                            <td>Kakis<img src="assets/legume_fruit/kaki.jpg" alt="Kakis"></td>
                        </tr>
                        <tr>
                            <td>Noisette<img src="assets/legume_fruit/noisette.png" alt="Noisette"></td>
                            <td>Noix<img src="assets/legume_fruit/noix.png" alt="Noix"></td>
                            <td>Orange<img src="assets/legume_fruit/orange.png" alt="Orange"></td>
                        </tr>
                        <tr>
                            <td>Pomme<img src="assets/legume_fruit/pomme.png" alt="Pomme"></td>
                            <td>Poire<img src="assets/legume_fruit/poire.png" alt="Poire"></td>
                            <td>Pruneau<img src="assets/legume_fruit/pruneau.jpg" alt="Pruneau"></td>
                        </tr>
                    </table>                                  
                </div>
            </div>
        </div> 
    </div>
</body>
