<body>
    <div class="containerFaitsDivers">
        <div class="contentFaitsDivers">
            <app-logo></app-logo>
            
            <div class="imgEnTete">
                <img src="assets/image_info.jpg" alt="Accueil">
            </div>

            <div class="presentation">
                <div class="titre">
                    <p>Qui sommes nous ?</p>
                </div>
    
                <div class="explication">
                    <div class="partie_1">
                        <p>
                            > Les Jardins de Cocagne sont un Atelier et Chantier d’Insertion
                            par l’Activité Economique créée en 1994 sur la Prairie Claudel
                            de Thaon-les-Vosges.
                        </p>
                    </div>
                    <div class="partie_2">
                        <p>
                            > Association loi 1901, ils sont gérés par un Conseil d’Administration
                            élu par l’ensemble des adhérents et comptent environ 60 salariés
                            permanents et en insertion.
                        </p>
                    </div>
                    <div class="partie_3">
                        <p>
                            > Les Jardins de Cocagne appartiennent au Réseau Cocagne,
                            réseau national de jardins maraîchers biologiques
                            d’insertion sociale et professionnelle.
                        </p>
                    </div>
                    <div class="partie_4">
                        <p>
                            > Leurs nombreux partenariats avec les services de l’Etat,
                            les collectivités territoriales et les entreprises leur permettent
                            d’assurer leur vocation d’insertion socioprofessionnelle.
                        </p>
                    </div>
                    <div class="partie_5">
                        <p>
                            > Vous pouvez télécharger le flyer des Jardins de Cocagne. Il vous suffit de 
                            <a class="telecharger" href="./assets/fichierflyer1.png">cliquer ici</a> !
                        </p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</body>
