<body>
  <div class="container">
    <main class="content">
      <app-logo></app-logo>
      <section class="grid">
        <div class="card">
          <a 
            class="button" 
            routerLink="/faits-divers"
            routerLinkActive="active"
            aria-current="page">
            <img src="assets/legumes-de-saison.jpg" alt="Légumes de saison">
            <span>Les légumes de saison</span>
          </a>
        </div>

        <div class="card">
          <a 
            class="button" 
            routerLink="/faits-divers"
            routerLinkActive="active"
            aria-current="page">
            <img src="assets/fruits-de-saison.jpg" alt="Fruits de saison">
            <span>Les fruits de saison</span>
          </a>
        </div>

        <div class="card">
          <a 
            class="button" 
            routerLink="/app-panier"
            routerLinkActive="active"
            aria-current="page">
            <img src="assets/paniers.jpg" alt="Les paniers">
            <span>Les paniers</span>
          </a>
        </div>

        <div class="card">
          <a 
            class="button" 
            routerLink="/app-livraison"
            routerLinkActive="active"
            aria-current="page">
            <img src="assets/dates-livraison.jpg" alt="Les dates de livraisons">
            <span>Les dates de livraisons</span>
          </a>
        </div>

        <div class="card">
          <a 
            class="button" 
            routerLink="/app-depots"
            routerLinkActive="active"
            aria-current="page">
            <img src="assets/depots.jpg" alt="Les dépôts">
            <span>Les dépôts</span>
          </a>
        </div>

        <div class="card">
          <a 
            class="button" 
            routerLink="*"
            routerLinkActive="active"
            aria-current="page">
            <img src="assets/absence.jpg" alt="Signaler une absence">
            <span>Signaler une absence</span>
          </a>
        </div>

        <div class="card">
          <a 
            class="button" 
            routerLink="/app-profil-adherent"
            routerLinkActive="active"
            aria-current="page">
            <img src="assets/profil.jpg" alt="Accéder au profil">
            <span>Accéder au profil</span>
          </a>
        </div>

        <div class="card">
          <a 
            class="button" 
            routerLink="*"
            routerLinkActive="active"
            aria-current="page">
            <img src="assets/abonnement.jpg" alt="Mon abonnement">
            <span>Mon abonnement</span>
          </a>
        </div>

        <div class="card">
          <a 
            class="button" 
            routerLink="*"
            routerLinkActive="active"
            aria-current="page">
            <img src="assets/suivre-panier.jpg" alt="Suivre mon panier">
            <span>Suivre mon panier</span>
          </a>
        </div>
      </section>
    </main>
  </div>
</body>