$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

.imgEnTete img {
    box-shadow: $box-shadow;
    width: 135vh;
    height: 32vw;
    border-radius: 5%;
    margin-top: 7vw;
    margin-left: 45vh;
}

h2 {
    font-size: 18px;
    margin-bottom: 6vh;
    font-family: 'Literata', serif;
    margin-left: 47vh;
    margin-top: 7vh;
    color: #2F5232;
}

.info-section {
    font-family: 'Arima';
    font-size: 16px;
    border: 1px solid #a1a1a1;
    margin-left: 21rem;
    max-width: 61%;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 6rem;
}

.buttons {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 5vh; 
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    font-family: 'Arima';
}

.cancel, .confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding: 10px;
    font-size: 16px;
    color: white; 
    text-align: center;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 5rem;
}

.cancel {
    background-color: #66201C;
    margin-left: 5.5rem;
    margin-right: 2rem;
}

.confirm {
    background-color: #17760E;
}

.cancel a, .confirm a {
    color: white; 
    text-decoration: none; 
}

.button .btn:hover {
    opacity: 0.9;
}